body{
    background-color:rgb(250, 202, 183);
    font-family: 'Quicksand', sans-serif;
    color: black; 
    font-size: 25px;

}
span{
    color: rgb(223, 117, 91);
    font-size: 20px;
}
#myform{
    
    background-color:rgb(253, 232, 224);
    text-align: center;
}
#topic{
    color: rgb(165, 59, 59);
    text-align: center;
    font-size: 50px;
}
#Loginform{
    background-color:rgb(253, 232, 224);
    text-align: center;

}
.back{
    text-align: center;
    margin-left: 48%;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color:#fff3e4;
    background-color: #ee6f6f;      
    border-radius: 50px;
    font-size: 16px;
    padding: 12px 26px 12px 26px;
}
p a {
    color: white;
}
a:link{
    color: #f1bd5b; 
} /* unvisited link */
a:visited{
    color: #ffffff; 
} /* visited link */
a:hover{ 
    color: #fce07d;
} /* mouse over link */
